:root {
    --border-color: #dae2ef;
    --header-color: #dbb7b9;
    --header-color2: #c0b0b1;
    --link-color: #90dcf8;

    --input-border: #7b7b7b;

    --text-color: #ffffff;

    --lighter-gray: rgb(100, 100, 100);
    --light-gray: rgb(78, 78, 78);
    --medium-gray: rgb(50, 50, 50);
    --dark-gray: rgb(34, 34, 34);

    --transparent: rgba(0, 0, 0, 0);

    --correct-answer: #048600;
    --wrong-answer: #860000;
    --reveal-answer: #4d99b7;

    --speaker-button: url(play-dark.png);
}

@media (prefers-color-scheme: light) {
    :root {
        --border-color: #dae2ef;
        --header-color: #8e6264;
        --header-color2: #6f4749;
        --link-color: #4d99b7;

        --input-border: #eeeeee;

        --text-color: #000000;

        --lighter-gray: rgb(211, 211, 211);
        --light-gray: #f7f7f7;
        --medium-gray: #ffffff;
        --dark-gray: #eef5ed;

        --transparent: rgba(0, 0, 0, 0);

        --correct-answer: #5dff57;
        --wrong-answer: #ff4848;
        --reveal-answer: #90dcf8;

        --speaker-button: url(play-light.png);
    }
}

body {
    font-family: Verdana;
    background-color: var(--dark-gray);
    color: var(--text-color);
}

a {
    color: var(--link-color);
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: var(--header-color);
}

table {
    border-collapse: collapse;
    border: 1px solid var(--border-color);
}
td {
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    text-align: center;
    padding: .3em .4em;
}

.checkrow {
    background-color: var(--light-gray);
}

.kana {
    font-size: 140%;
    white-space: nowrap;
}

.romaji {
    white-space: nowrap;
    display: block;
    font-size: 85%;
}

#top-container {
    margin: auto;
    width: 42em;
    padding: .7em 2em 1.4em 2em;
    background-color: var(--medium-gray);
    border-radius: 3px;
}

#bottom-container {
    margin: 1.5em auto;
    width: fit-content;
    padding: 0.1em 1.4em 1.4em 1.4em;
    background-color: var(--medium-gray);
    border-radius: 3px;
}

#options {
	margin:1.5em auto;
	width:46em;
	padding:0;
	background-color:var(--medium-gray);
	border-radius: 3px;
}

#options > h2 {
    border-radius: 3px 3px 0px 0px;
}

#options_inner {
	padding:0 1.4em 1.4em 1.4em;
}

h2 {
    background-color: var(--light-gray);
    color: var(--header-color);
    margin: 0;
    padding: .3em .5em;
    border-radius: 3px;
}

h3 {
    color: var(--header-color);
    border-bottom: 1px dotted var(--header-color2);
    padding-bottom: 9px;
    padding-left: .4em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.checkall a {
    color: var(--link-color);
    cursor: pointer;
}

.checkall {
    float: right;
    font-size: 85%;
    user-select: none;
}

h2 .checkall {
    font-size: 70%;
    padding-top: 3px;
}

#kana_con {
    text-align: center;
    font-size: 300%;
}

#stroke {
    width: 2em;
}

#input {
    text-align: center;
    margin-top: .8em;
}

ul#tools, #count {
    margin-top: 1em;
    font-size: 78%;
}

ul#tools {
    padding: 0px;
    display: inline-block;
}

ul#tools li {
    display: inline;
    list-style-type: none;

    margin-right: 1.2em;
    font-weight: bold;
}

ul#tools li a {
    color: var(--link-color);
    cursor: pointer;
}

#theme {
    margin-top: 1em;
    height: max-content;
    font-size: 78%;
}

.row {
    display: flex;
    justify-content: space-between;
    height: max-content;
}

#right-row {
    display: flex;
    justify-content: center;
}

#count {
    float: right;
    padding-right: 1em;
}

#show_options {
    display: none;
}
#show_options + div {
    display: none;
}
#show_options:checked + div {
    display: block;
}

#message {
    text-align: center;
    font-size: 90%;
    margin-top: 1em;
}

#answer {
    text-align: center;
    margin-bottom: .4em;
    font-size: 90%;
    visibility: hidden;
}

.kana-tab-selector {
    width: 100%;
    display: inline-block;
    text-align: center;
    user-select: none;
    background-color: var(--light-gray);
    border-radius: 3px;
}

.kana-tab-selector.selected-tab {
    border: var(--link-color);
    border-bottom-style: solid;
}

.kana-tab-selector:not(.selected-tab) {
    border: var(--transparent);
    border-bottom-style: solid;
}

#kana-tabs {
    display: flex;
    justify-content: space-between;
}

#kana-tabs > h3 {
    flex: 1;
}

td:has(.kana) {
    cursor: pointer;
    user-select: none;
    transition: background-color 0.8s cubic-bezier(0,0,0,1), color 0.8s cubic-bezier(0,0,0,1);
}

td:has(.kana):hover {
    background-color: var(--lighter-gray);
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

.correct-answer {
    background-color: var(--correct-answer) !important;
}

.wrong-answer {
    background-color: var(--wrong-answer) !important;
}

.reveal-answer {
    background-color: var(--reveal-answer) !important;
}

.speaker-button {
	content: var(--speaker-button);
    user-select: none;
}

.score-container {
    float: right;
    font-size: 78%;
}

.fakebutton {
    user-select: none;
    transition: 0.1s filter linear;
}

.fakebutton:hover {
    filter: contrast(125%);
    cursor: pointer;
}

#shuffle-kana {
    width: fit-content;
}
